@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.explore-section {
  background: rgb(71, 114, 24);
  background: linear-gradient(
    0deg,
    rgba(71, 114, 24, 1) 0%,
    rgba(194, 208, 63, 1) 100%
  );
}

.feature-block {
  background: url("./../../public/images/feature-section-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
